*.bak
*.so
*.pyc
*.*~
*.iml
*.swp
*.gz
**/vendor
**/tmp
**/.idea
**/__pycache__

# test data
testdata/*.json
testdata/*.txt
benchmark/ids.txt

# binaries
**/bin/*
accounts/server
benchmark/slave

#python virtual environment
pyenv/
